.header-child {
    height: 93px;
    width: 1369px;
    position: relative;
    background-color: var(--txt);
    display: none;
    max-width: 100%;
  }
  .beranda,
  .image-9-icon {
    position: relative;
    z-index: 1;
  }
  .image-9-icon {
    height: 80px;
    width: 184px;
    object-fit: cover;
  }
  .beranda {
    display: inline-block;
    min-width: 77px;
  }
  .home-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-smi) 0 0;
  }
  .direktori,
  .healthiconsv {
    position: relative;
    z-index: 1;
  }
  .direktori {
    display: inline-block;
    min-width: 79px;
  }
  .healthiconsv {
    width: 13px;
    height: 7px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .directories,
  .healthiconsv-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .healthiconsv-wrapper {
    flex-direction: column;
    padding: var(--padding-2xs) 0 0;
  }
  .directories {
    flex-direction: row;
    gap: 5px;
  }
  .konsultasi-online {
    white-space: nowrap;
  }
  .healthiconsv1,
  .informasi,
  .konsultasi-online {
    position: relative;
    z-index: 1;
  }
  .informasi {
    display: inline-block;
    min-width: 87px;
  }
  .healthiconsv1 {
    width: 13px;
    height: 7px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .healthiconsv-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-2xs) 0 0;
  }
  .information-block,
  .konsultasi-online-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .information-block {
    gap: 4px;
  }
  .konsultasi-online-parent {
    gap: var(--gap-4xl);
  }
  .navigation-container,
  .navigation-links {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .navigation-links {
    flex-direction: row;
    gap: var(--gap-6xl);
  }
  .navigation-container {
    width: 613px;
    flex-direction: column;
    padding: 26px 0 0;
    box-sizing: border-box;
  }
  .login-button-child {
    height: 40px;
    width: 90px;
    position: relative;
    border-radius: var(--br-3xs);
    background-color: var(--color-skyblue);
    display: none;
  }
  .masuk {
    position: relative;
    font-size: var(--font-size-xl);
    display: inline-block;
    font-family: var(--font-inter);
    color: var(--txt);
    text-align: left;
    min-width: 66px;
    z-index: 2;
  }
  .login-button {
    cursor: pointer;
    border: 0;
    padding: var(--padding-6xs) var(--padding-xs) 9px;
    background-color: var(--color-skyblue);
    border-radius: var(--br-3xs);
    flex-direction: row;
    justify-content: flex-start;
    z-index: 1;
  }
  .consultation-button:hover,
  .login-button:hover {
    background-color: var(--color-steelblue);
  }
  .header,
  .login-button,
  .login-button-wrapper {
    display: flex;
    align-items: flex-start;
  }
  .login-button-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    padding: 19px 0 0;
  }
  .header {
    align-self: stretch;
    background-color: var(--txt);
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-6xs) var(--padding-10xl) 6px var(--padding-2xl);
    box-sizing: border-box;
    top: 0;
    z-index: 99;
    position: sticky;
    gap: var(--gap-xl);
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--h5);
  }
  .hero-image-overlay {
    position: absolute;
    top: 0;
    left: 13.3px;
    background-color: #e2bfb3;
    width: 1369px;
    height: 640px;
  }
  .pexels-shvets-production-71760-icon {
    height: 640px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: 1;
  }
  .keeper,
  .mind {
    margin: 0;
  }
  .keeper {
    white-space: pre-wrap;
  }
  .mind-keeper {
    margin: 0 !important;
    height: 270px;
    width: 752.3px;
    position: absolute;
    top: 50px;
    left: -188.7px;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    text-shadow: 1px 0 0 rgba(110, 193, 228, 0.3),
      0 1px 0 rgba(110, 193, 228, 0.3), -1px 0 0 rgba(110, 193, 228, 0.3),
      0-1px 0 rgba(110, 193, 228, 0.3);
    z-index: 3;
  }
  .hero-image-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 1382.2px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .background-shape {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(134, 130, 130, 0.3),
      rgba(158, 221, 255, 0.3)
    );
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .hero-content {
    height: calc(100% - 52px);
    width: 1398.3px;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: -16px;
    bottom: 52px;
  }
  .kesehatan-bukan-hanya,
  .konsultasi-sekarang-juga {
    margin: 0;
  }
  .kesehatan-bukan-hanya-container {
    width: 526.6px;
    position: relative;
    font-size: var(--font-size-6xl);
    font-family: var(--body1-light);
    display: inline-block;
    flex-shrink: 0;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px rgba(110, 193, 228, 0.2);
    max-width: 100%;
    z-index: 4;
  }
  .consultation-button-child {
    height: 63px;
    width: 185.6px;
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--color-skyblue);
    display: none;
  }
  .konsultasi {
    flex: 1;
    position: relative;
    font-size: var(--font-size-6xl);
    font-family: var(--body1-light);
    color: var(--txt);
    text-align: center;
    display: inline-block;
    min-width: 129.1px;
    z-index: 4;
  }
  .consultation-action,
  .consultation-button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .consultation-button {
    cursor: pointer;
    border: 0;
    padding: var(--padding-smi) 28.2px var(--padding-xs) 28.3px;
    background-color: var(--color-skyblue);
    align-self: stretch;
    border-radius: var(--br-xl);
    flex-direction: row;
    z-index: 3;
  }
  .consultation-action {
    width: 185.6px;
    flex-direction: column;
    padding: 174px 0 0;
    box-sizing: border-box;
    margin-left: -351.1px;
  }
  .hero,
  .mengapa {
    position: relative;
  }
  .hero {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 320px 9.9px 108px;
    box-sizing: border-box;
    min-height: 717px;
    max-width: 100%;
    text-align: center;
    font-size: 120px;
    color: var(--txt);
    font-family: var(--font-monotype-corsiva);
  }
  .mengapa {
    display: inline-block;
    min-width: 112px;
  }
  .flexibility-header {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  }
  .mengapa-konsultasi-kesehatan {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-29xl);
    font-weight: 700;
    font-family: inherit;
  }
  .flexibility-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .feature-item-child,
  .flexibility {
    box-sizing: border-box;
    max-width: 100%;
  }
  .flexibility {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 61px;
  }
  .feature-item-child {
    width: 395px;
    height: 383px;
    position: relative;
    border-radius: var(--br-11xl) 0 0 var(--br-11xl);
    border: 1px solid var(--color-black);
    display: none;
  }
  .psychologist-icon1 {
    height: 130px;
    width: 130px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
  }
  .psychologist-icon {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
  }
  .fleksibel {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    min-width: 120px;
    z-index: 1;
  }
  .feature-item2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
  }
  .pasien-dapat-melakukan {
    align-self: stretch;
    position: relative;
    font-size: 15px;
    font-family: var(--body1-light);
    color: var(--color-black);
    z-index: 1;
  }
  .feature-item,
  .feature-item1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .feature-item1 {
    gap: 15px;
  }
  .feature-item {
    border-radius: var(--br-11xl) 0 0 var(--br-11xl);
    border: 1px solid var(--color-black);
    padding: var(--padding-smi);
    gap: var(--gap-11xl);
  }
  .feature-item,
  .feature-list,
  .frame-child {
    box-sizing: border-box;
    max-width: 100%;
  }
  .feature-list {
    width: 393px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-49xl) 0 0;
  }
  .frame-child {
    width: 471px;
    height: 517px;
    position: relative;
    box-shadow: 20px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-11xl);
    background-color: var(--color-skyblue);
    border: 1px solid var(--color-black);
    display: none;
  }
  .group-icon {
    height: 200px;
    width: 200px;
    position: relative;
    z-index: 2;
  }
  .free-consult-content {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .gratis {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    min-width: 104px;
    z-index: 2;
  }
  .gratis-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
  }
  .pasien-dapat-melakukan1 {
    align-self: stretch;
    position: relative;
    font-size: var(--body1-light-size);
    font-family: var(--body1-light);
    z-index: 2;
  }
  .free-consult-description {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl);
  }
  .frame-item,
  .rectangle-parent {
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    max-width: 100%;
  }
  .rectangle-parent {
    flex: 1;
    box-shadow: 20px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-11xl);
    background-color: var(--color-skyblue);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 33px 24px var(--padding-8xl);
    gap: var(--gap-31xl);
    min-width: 306px;
    z-index: 1;
    font-size: var(--h4-size);
    color: var(--txt);
  }
  .frame-item {
    width: 394px;
    height: 383px;
    position: relative;
    border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
    display: none;
  }
  .pendulum-icon {
    height: 130px;
    width: 130px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
  }
  .pendulum-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
  }
  .fitur-lengkap {
    margin: 0;
    height: 38px;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    z-index: 1;
  }
  .fitur-lengkap-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  }
  .tidak-hanya-konsultasi {
    align-self: stretch;
    position: relative;
    font-size: var(--body1-light-size);
    font-family: var(--body1-light);
    color: var(--color-black);
    z-index: 1;
  }
  .feature-list1,
  .frame-parent,
  .rectangle-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent {
    align-self: stretch;
    gap: var(--gap-xl);
  }
  .feature-list1,
  .rectangle-group {
    box-sizing: border-box;
    max-width: 100%;
  }
  .rectangle-group {
    align-self: stretch;
    border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
    border: 1px solid var(--color-black);
    padding: var(--padding-10xl) var(--padding-xs);
    gap: var(--gap-31xl);
  }
  .feature-list1 {
    width: 392px;
    padding: var(--padding-49xl) 0 0;
  }
  .features {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    font-size: var(--h5-size);
    color: var(--txt1);
  }
  .features,
  .flexibility-parent,
  .reasoning {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .flexibility-parent {
    flex: 1;
    flex-direction: column;
    gap: 52px;
  }
  .reasoning {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-38xl) var(--padding-83xl) var(--padding-37xl);
    box-sizing: border-box;
    text-align: center;
    font-size: var(--h6-size);
    color: var(--color-black);
    font-family: var(--h5);
  }
  .kami-membantu-orang {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
  }
  .helping,
  .icon-placeholder {
    align-self: stretch;
    max-width: 100%;
  }
  .helping {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-38xl) var(--padding-55xl) var(--padding-37xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-29xl);
    color: var(--color-black);
    font-family: var(--h5);
  }
  .icon-placeholder {
    flex: 1;
    position: relative;
    border-radius: var(--br-8xs) var(--br-31xl) var(--br-8xs) var(--br-31xl);
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .gangguan-tidur {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
  }
  .disorder-item,
  .disorder-item1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .disorder-item1 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 78px 0 77px;
  }
  .disorder-item {
    height: 336px;
    flex-direction: column;
    gap: var(--gap-lg);
    max-width: 100%;
  }
  .disorder-item-child {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: var(--br-8xs) var(--br-31xl) var(--br-8xs) var(--br-31xl);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .bipolar {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    min-width: 109px;
  }
  .bipolar-wrapper,
  .disorder-item2 {
    display: flex;
    align-items: flex-start;
  }
  .bipolar-wrapper {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
  }
  .disorder-item2 {
    height: 337px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-lg);
    max-width: 100%;
  }
  .disorder-item-item {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: var(--br-8xs) var(--br-31xl) var(--br-8xs) var(--br-31xl);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .kecemasan-umum {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
  }
  .kecemasan-umum-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-38xl) 0 var(--padding-39xl);
  }
  .disorder-examples,
  .disorder-item3,
  .disorder-list {
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .disorder-item3 {
    height: 336px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-lg);
  }
  .disorder-examples,
  .disorder-list {
    flex-direction: row;
  }
  .disorder-list {
    flex: 1;
    display: grid;
    gap: 39px;
    grid-template-columns: repeat(3, minmax(295px, 1fr));
  }
  .disorder-examples {
    align-self: stretch;
    display: flex;
    padding: 0 var(--padding-37xl) var(--padding-132xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-13xl);
    color: var(--color-black);
    font-family: var(--font-inria-serif);
  }
  .partner-icon,
  .partner-logo-child {
    position: absolute;
    top: 0;
    left: 591px;
    width: 1638.3px;
    height: 1641.7px;
    object-fit: contain;
    z-index: 1;
  }
  .partner-icon {
    top: 973px;
    left: 0;
    width: 1119px;
    height: 509px;
    z-index: 2;
  }
  .mentalkucom,
  .partner-logo {
    margin: 0 !important;
    position: absolute;
  }
  .partner-logo {
    height: 1641.7px;
    width: 864px;
    top: -973px;
    right: 0;
  }
  .mentalkucom {
    width: 390px;
    top: 27px;
    right: 327px;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    z-index: 3;
  }
  .partner-description-child {
    height: 743px;
    width: 1369px;
    position: relative;
    background-color: var(--color-skyblue);
    display: none;
    max-width: 100%;
  }
  .salah-satu-website {
    margin: 0;
    height: 540px;
    width: 663px;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.02em;
    line-height: 150%;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
    z-index: 3;
  }
  .partner-description,
  .partner-details,
  .partner-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .partner-description {
    flex: 1;
    background-color: var(--color-skyblue);
    justify-content: flex-end;
    padding: 114px 55px 89px;
    box-sizing: border-box;
    font-size: var(--font-size-11xl);
    color: #1e1e1e;
    font-family: var(--font-inter);
  }
  .partner-details,
  .partner-info {
    flex-shrink: 0;
    justify-content: flex-start;
    position: relative;
  }
  .partner-details {
    flex: 1;
  }
  .partner-info {
    height: 683px;
    width: 1369px;
    overflow: hidden;
  }
  .additional-image-child {
    height: 889px;
    width: 515px;
    position: relative;
    box-shadow: 20px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-31xl);
    background-color: var(--txt);
    display: none;
    max-width: 100%;
  }
  .image-9-icon1 {
    height: 217.4px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: 5;
  }
  .additional-image,
  .partner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100%;
  }
  .additional-image {
    height: 889px;
    width: 515px;
    box-shadow: 20px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-31xl);
    background-color: var(--txt);
    align-items: flex-start;
    padding: 307px var(--padding-6xs);
    box-sizing: border-box;
    z-index: 4;
    margin-left: -1304px;
  }
  .partner {
    align-self: stretch;
    align-items: flex-end;
    text-align: left;
    font-size: var(--h2-size);
    color: var(--color-black);
    font-family: var(--h5);
  }
  .home-1-child {
    width: 1119px;
    height: 509px;
    position: absolute;
    margin: 0 !important;
    bottom: 2508px;
    left: -174px;
    z-index: 6;
  }
  .knowledge-content-child,
  .knowledge-header-child {
    height: 743px;
    width: 1369px;
    position: relative;
    background-color: var(--color-skyblue);
    display: none;
    max-width: 100%;
  }
  .knowledge-header-child {
    width: 1183px;
    height: 639px;
    border-radius: var(--br-xl);
    background-color: var(--txt);
  }
  .koleksi-pengetahuan {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 8;
  }
  .knowledge-title-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 47px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .kesehatan-mental,
  .pelajari-dan-pahami {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    z-index: 8;
  }
  .kesehatan-mental {
    align-self: stretch;
  }
  .description-header {
    width: 342px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 9px;
    max-width: 100%;
  }
  .jelajahi-koleksi-pengetahuan {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-5xl);
    font-family: var(--body1-light);
    z-index: 8;
  }
  .knowledge-description {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 29px;
    max-width: 100%;
  }
  .kunjungi-koleksi-pengetahuan {
    width: 345px;
    position: relative;
    font-size: var(--font-size-xl);
    font-weight: 500;
    font-family: var(--body1-light);
    display: inline-block;
    max-width: 100%;
    z-index: 8;
  }
  .knowledge-info {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 37px;
    max-width: 100%;
    text-align: left;
    font-family: var(--font-inter);
  }
  .knowledge,
  .knowledge-content,
  .knowledge-header {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .knowledge-header {
    width: 1183px;
    border-radius: var(--br-xl);
    background-color: var(--txt);
    flex-direction: column;
    justify-content: flex-start;
    padding: 76px var(--padding-39xl) 159px 606px;
    gap: 63px;
    z-index: 7;
  }
  .knowledge,
  .knowledge-content {
    flex-direction: row;
  }
  .knowledge-content {
    flex: 1;
    background-color: var(--color-skyblue);
    justify-content: center;
    padding: var(--padding-41xl) var(--padding-xl) var(--padding-25xl);
    z-index: 5;
  }
  .knowledge {
    align-self: stretch;
    justify-content: flex-start;
    padding: 0 0 82px;
    text-align: center;
    font-size: var(--font-size-17xl);
    color: var(--color-black);
    font-family: var(--font-inria-serif);
  }
  .frame-inner {
    width: 1294px;
    height: 473px;
    position: relative;
    border-radius: var(--br-8xs) var(--br-31xl) var(--br-8xs) var(--br-31xl);
    background-color: var(--color-aliceblue-100);
    display: none;
    max-width: 100%;
    z-index: 0;
  }
  .perawatan-diri-bukanlah {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
  }
  .icon {
    height: 81px;
    width: 80px;
    position: absolute;
    margin: 0 !important;
    right: -14px;
    bottom: -7px;
    object-fit: contain;
    z-index: 2;
  }
  .perawatan-diri-bukanlah-sebuah-parent {
    width: 1192px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    max-width: 100%;
  }
  .icon1 {
    width: 80px;
    height: 81px;
    position: absolute;
    margin: 0 !important;
    top: 32px;
    left: 31px;
    z-index: 1;
  }
  .quote,
  .rectangle-container {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
  }
  .rectangle-container {
    flex: 1;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset, 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-8xs) var(--br-31xl) var(--br-8xs) var(--br-31xl);
    background-color: var(--color-aliceblue-100);
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 127px var(--padding-24xl) 50px;
    position: relative;
  }
  .quote {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 38px 97px 37px;
    text-align: center;
    font-size: var(--h2-size);
    color: var(--color-black);
    font-family: var(--h5);
  }
  .galeri {
    width: 64px;
    position: relative;
    display: inline-block;
    min-width: 64px;
  }
  .kesehatan-mental-di {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-29xl);
    font-weight: 700;
    font-family: inherit;
    text-align: left;
  }
  .gallery-header,
  .gallery-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .gallery-title {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-xl);
  }
  .gallery-header {
    width: 819px;
    flex-direction: row;
    padding: 0 2px;
    box-sizing: border-box;
  }
  .mask-group-icon,
  .mask-group-icon1 {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  .mask-group-icon {
    flex: 1;
    max-height: 100%;
  }
  .mask-group-icon1 {
    height: 469.3px;
    flex-shrink: 0;
  }
  .image-grid {
    height: 1112px;
    width: 360.8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 55.6px;
    min-width: 360.7999999999999px;
    max-width: 100%;
  }
  .gallery-photo-icon,
  .mask-group-icon2 {
    align-self: stretch;
    position: relative;
    max-height: 100%;
    min-height: 347px;
  }
  .gallery-photo-icon {
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    min-width: 362px;
  }
  .mask-group-icon2 {
    width: 302.2px;
    object-fit: contain;
  }
  .gallery-photo-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 38.8px;
    max-width: 100%;
  }
  .mask-group-icon3 {
    width: 360.8px;
    position: relative;
    max-height: 100%;
    object-fit: contain;
    min-height: 707px;
    max-width: 100%;
  }
  .mask-group-icon4 {
    align-self: stretch;
    height: 346.9px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    debug_commit: 1de1738;
  }
  .mask-group-icon5 {
    width: 218.3px;
    position: relative;
    max-height: 100%;
    object-fit: cover;
    min-height: 307px;
  }
  .mask-group-container,
  .mask-group-icon5,
  .mask-group-icon6 {
    align-self: stretch;
    flex-shrink: 0;
    debug_commit: 1de1738;
  }
  .mask-group-icon6 {
    width: 237.8px;
    position: relative;
    max-height: 100%;
    object-fit: cover;
    min-height: 307px;
  }
  .mask-group-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-21xl-8);
  }
  .image-row,
  .mask-group-group,
  .mask-group-parent {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .mask-group-group {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 55.7px;
    min-width: 323px;
  }
  .image-row,
  .mask-group-parent {
    align-items: flex-end;
  }
  .mask-group-parent {
    align-self: stretch;
    flex-direction: row;
    gap: 40.7px;
  }
  .image-row {
    flex: 1;
    flex-direction: column;
    gap: 55.5px;
    min-width: 584px;
  }
  .gallery-images {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-21xl-8);
  }
  .gallery,
  .gallery-content,
  .gallery-images {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .gallery-content {
    flex: 1;
    flex-direction: column;
    gap: 35px;
  }
  .gallery {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-15xl) var(--padding-83xl) 35px;
    box-sizing: border-box;
    text-align: center;
    font-size: var(--h6-size);
    color: var(--color-black);
    font-family: var(--h5);
  }
  .footer-child {
    height: 491px;
    width: 1369px;
    position: relative;
    background-color: var(--color-skyblue);
    display: none;
    max-width: 100%;
  }
  .img-20240506-233046-1-icon {
    align-self: stretch;
    width: 351px;
    position: relative;
    max-height: 100%;
    object-fit: cover;
    min-height: 149px;
    max-width: 100%;
    flex-shrink: 0;
  }
  .contact {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    min-width: 112px;
  }
  .call-icon {
    height: 32px;
    width: 32px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .contact-details1 {
    flex: 1;
    position: relative;
  }
  .contact-type {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xl);
  }
  .message-icon {
    height: 32px;
    width: 32px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .mentalkugmailcom {
    position: relative;
    white-space: nowrap;
  }
  .contact-type1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-lgi);
  }
  .communication-options {
    width: 303px;
    flex-direction: column;
    gap: var(--gap-xl);
  }
  .communication-options,
  .contact-details,
  .contact-info,
  .contact-methods {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contact-methods {
    width: 527px;
    flex-direction: column;
    max-width: 114%;
    flex-shrink: 0;
    text-align: center;
    font-size: var(--body1-light-size);
    font-family: var(--body1-light);
  }
  .contact-details,
  .contact-info {
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .contact-info {
    width: 464px;
    flex-direction: column;
    gap: var(--gap-11xl);
    min-width: 464px;
    flex-shrink: 0;
  }
  .contact-details {
    width: 761px;
    flex-direction: row;
    gap: 94px;
  }
  .social-media-icons {
    width: 1368.7px;
    height: 4px;
    position: relative;
    object-fit: contain;
    max-width: 129%;
    flex-shrink: 0;
  }
  .copyright-logo-icon {
    height: 30px;
    width: 151px;
    position: relative;
  }
  .copyright-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .copyright-2024-mentalkuid {
    position: relative;
  }
  .contact-container,
  .copyright-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .copyright-info {
    gap: var(--gap-11xl);
    font-size: var(--body1-light-size);
    font-family: var(--body1-light);
  }
  .contact-container {
    width: 1064px;
    padding: 0;
    box-sizing: border-box;
    gap: 60px;
    max-width: 100%;
    z-index: 1;
  }
  .footer,
  .home-1 {
    display: flex;
    align-items: flex-start;
  }
  .footer {
    align-self: stretch;
    background-color: var(--color-skyblue);
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-49xl) var(--padding-xl) var(--padding-41xl) 45px;
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: var(--h5-size);
    color: var(--txt);
    font-family: var(--h5);
  }
  .home-1 {
    width: 100%;
    position: relative;
    background-color: #eef7ff;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1200px) {
    .flexibility {
      padding-left: var(--padding-11xl);
      padding-right: var(--padding-11xl);
      box-sizing: border-box;
    }
    .knowledge-header {
      gap: 31px;
      padding-left: 303px;
      padding-right: var(--padding-10xl);
      box-sizing: border-box;
    }
    .rectangle-container {
      padding-left: var(--padding-2xl);
      padding-right: var(--padding-2xl);
      box-sizing: border-box;
    }
    .image-grid {
      flex: 1;
    }
    .gallery-images {
      flex-wrap: wrap;
    }
    .footer,
    .gallery {
      box-sizing: border-box;
    }
    .gallery {
      padding-bottom: var(--padding-47xl);
    }
    .footer {
      padding-left: 22px;
    }
  }
  @media screen and (max-width: 1050px) {
    .navigation-links {
      display: none;
    }
    .navigation-container {
      width: 87px;
    }
    .mind-keeper {
      font-size: var(--font-size-29xl);
    }
    .mengapa-konsultasi-kesehatan {
      font-size: var(--font-size-19xl);
    }
    .gratis {
      font-size: var(--h5-size);
    }
    .reasoning {
      padding-bottom: var(--padding-47xl);
      box-sizing: border-box;
    }
    .kami-membantu-orang {
      font-size: var(--font-size-19xl);
    }
    .bipolar,
    .gangguan-tidur,
    .kecemasan-umum {
      font-size: var(--font-size-7xl);
    }
    .disorder-list {
      justify-content: center;
      grid-template-columns: repeat(2, minmax(295px, 511px));
    }
    .mentalkucom {
      font-size: var(--font-size-24xl);
    }
    .salah-satu-website {
      font-size: var(--font-size-5xl);
      line-height: 36px;
    }
    .partner-description {
      padding-left: var(--padding-8xl);
      padding-right: var(--padding-8xl);
      box-sizing: border-box;
    }
    .additional-image {
      padding-bottom: 200px;
      box-sizing: border-box;
    }
    .kesehatan-mental,
    .koleksi-pengetahuan,
    .pelajari-dan-pahami {
      font-size: var(--font-size-10xl);
    }
    .knowledge {
      padding-bottom: 53px;
      box-sizing: border-box;
    }
    .perawatan-diri-bukanlah {
      font-size: var(--font-size-24xl);
    }
    .kesehatan-mental-di {
      font-size: var(--font-size-19xl);
    }
    .mask-group-icon2 {
      flex: 1;
    }
    .gallery-photo-parent {
      flex-wrap: wrap;
    }
    .mask-group-icon3 {
      flex: 1;
    }
    .mask-group-parent {
      flex-wrap: wrap;
    }
    .contact-info,
    .img-20240506-233046-1-icon {
      flex: 1;
    }
    .contact-details {
      flex-wrap: wrap;
      gap: 47px;
    }
  }
  @media screen and (max-width: 750px) {
    .hero {
      padding-top: 208px;
      padding-bottom: 70px;
      box-sizing: border-box;
    }
    .rectangle-parent {
      gap: var(--gap-6xl);
      padding-top: var(--padding-2xl);
      padding-bottom: var(--padding-xl);
      box-sizing: border-box;
    }
    .flexibility-parent {
      gap: 26px;
    }
    .helping,
    .reasoning {
      padding-left: var(--padding-9xl);
      padding-right: var(--padding-9xl);
      box-sizing: border-box;
    }
    .disorder-list {
      gap: var(--gap-lgi);
      grid-template-columns: minmax(295px, 1fr);
    }
    .disorder-examples {
      padding-left: var(--padding-9xl);
      padding-right: var(--padding-9xl);
      padding-bottom: 98px;
      box-sizing: border-box;
    }
    .partner-description {
      padding-top: var(--padding-55xl);
      padding-bottom: var(--padding-39xl);
      box-sizing: border-box;
    }
    .knowledge-title-container {
      padding-left: var(--padding-4xl);
      padding-right: var(--padding-4xl);
      box-sizing: border-box;
    }
    .knowledge-info {
      gap: var(--gap-lg);
    }
    .knowledge-header {
      gap: 16px;
      padding-left: var(--padding-132xl);
      padding-top: 49px;
      padding-bottom: 103px;
      box-sizing: border-box;
    }
    .knowledge-content {
      padding-top: var(--padding-20xl);
      padding-bottom: var(--padding-10xl);
      box-sizing: border-box;
    }
    .rectangle-container {
      padding-top: 83px;
      padding-bottom: 32px;
      box-sizing: border-box;
    }
    .quote {
      padding-bottom: 63px;
      box-sizing: border-box;
    }
    .gallery-photo-icon,
    .image-grid {
      min-width: 100%;
    }
    .mask-group-icon5,
    .mask-group-icon6 {
      flex: 1;
    }
    .mask-group-container {
      flex-wrap: wrap;
      gap: var(--gap-xl);
    }
    .mask-group-group {
      gap: var(--gap-9xl);
    }
    .image-row {
      min-width: 100%;
    }
    .gallery-images {
      gap: var(--gap-xl);
    }
    .gallery-content {
      gap: 17px;
    }
    .gallery {
      padding-bottom: var(--padding-24xl);
      box-sizing: border-box;
    }
    .contact-info {
      min-width: 100%;
    }
    .contact-container {
      gap: var(--gap-11xl);
    }
    .footer {
      padding-top: var(--padding-25xl);
      padding-bottom: var(--padding-20xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .mind-keeper {
      font-size: var(--font-size-11xl);
    }
    .kesehatan-bukan-hanya-container,
    .konsultasi {
      font-size: var(--font-size-xl);
    }
    .mengapa {
      font-size: var(--body1-light-size);
    }
    .mengapa-konsultasi-kesehatan {
      font-size: var(--font-size-10xl);
    }
    .fleksibel {
      font-size: var(--h6-size);
    }
    .feature-list {
      padding-top: var(--padding-25xl);
      box-sizing: border-box;
    }
    .gratis {
      font-size: 21px;
    }
    .fitur-lengkap {
      font-size: var(--h6-size);
    }
    .rectangle-group {
      gap: var(--gap-6xl);
      padding-top: var(--padding-xl);
      padding-bottom: var(--padding-xl);
      box-sizing: border-box;
    }
    .feature-list1 {
      padding-top: var(--padding-25xl);
      box-sizing: border-box;
    }
    .reasoning {
      padding-bottom: var(--padding-24xl);
      box-sizing: border-box;
    }
    .kami-membantu-orang {
      font-size: var(--font-size-10xl);
    }
    .gangguan-tidur {
      font-size: var(--font-size-lgi);
    }
    .disorder-item1 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .bipolar,
    .kecemasan-umum {
      font-size: var(--font-size-lgi);
    }
    .kecemasan-umum-wrapper {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .mentalkucom {
      font-size: var(--font-size-13xl);
    }
    .salah-satu-website {
      font-size: var(--body1-light-size);
      line-height: 27px;
    }
    .additional-image {
      padding-bottom: 130px;
      box-sizing: border-box;
    }
    .kesehatan-mental,
    .koleksi-pengetahuan,
    .pelajari-dan-pahami {
      font-size: var(--h6-size);
    }
    .jelajahi-koleksi-pengetahuan {
      font-size: var(--font-size-lgi);
    }
    .kunjungi-koleksi-pengetahuan {
      font-size: 16px;
    }
    .knowledge-header {
      padding-left: var(--padding-xl);
      box-sizing: border-box;
    }
    .knowledge {
      padding-bottom: var(--padding-15xl);
      box-sizing: border-box;
    }
    .perawatan-diri-bukanlah {
      font-size: var(--font-size-13xl);
    }
    .galeri {
      font-size: var(--body1-light-size);
    }
    .kesehatan-mental-di {
      font-size: var(--font-size-10xl);
    }
    .image-grid {
      gap: var(--gap-9xl);
    }
    .gallery-photo-parent {
      gap: var(--gap-lgi);
    }
    .mask-group-parent {
      gap: var(--gap-xl);
    }
    .image-row {
      gap: var(--gap-9xl);
    }
    .contact {
      font-size: var(--h6-size);
    }
    .contact-details {
      gap: var(--gap-4xl);
    }
  }
  